@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
$root-width: 1rem 5rem;
$primary-color: #205ceb;
.logo {
  h1 {
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    color: $primary-color;
  }
}

ul {
  list-style: none;
}
.container-navbar {
  background-color: #fafafa;
  .router {
    color: #333;
    text-decoration: none;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $root-width;
  ul {
    display: flex;
    li {
      padding: 0 1.5rem;
      font-weight: 600;
    }
  }
  .button {
    background-color: $primary-color;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
  }
}
